/* tetron css */
html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.highlight {
    border: 1px dotted green;
}

div.main {
    border: 1px solid blue;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#canvas_container {
    position: relative;
    width: 720px;
    height: 720px;
    border: 1px solid blue;
}

div.main:hover {
    cursor: default;
}

.board {
    border: 1px solid red;
    margin: auto;
}

div.light_text_item {
    font-family: Quicksand;
    font-size: 30px;
    position: absolute;
    height: 80px;
    width: 80px;
    padding-top: 10px;
    text-align: center;
    z-index: inherit;

    -webkit-transition: text-shadow 0.15s ease-in-out;
    -moz-transition: text-shadow 0.15s ease-in-out;
    -ms-transition: text-shadow 0.15s ease-in-out;
    transition: text-shadow 0.15s ease-in-out;

    text-shadow: 0px 0px -1px black;
}

div.text_item_selected {
    text-shadow: 7px 7px 7px black;
}
